* {
  box-sizing: border-box;
}

.row {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-12 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
.col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}

.card {
  height: 340px;
}

/* Tablet defaults */
@media only screen and (min-width: 640px) {

  .col-3, .col-4, .col-6, .col-12 {
    width: 48%;
    margin: 0 1% 50px 1%;
  }

  .card {
    height: 340px;
  }

}

/* Larger screens */
@media only screen and (min-width: 769px) {

  .col-3 {
    width: 24%;
    margin: 0 0.5% 50px 0.5%;
  }

  /* 4 columns */
  .col-4 {
    width: 33.33%;
  }

  /* 6 columns */
  .col-6 {
    width: 50%;
  }

  /* 12 columns */
  .col-12 {
    width: 100%;
  }
  
}

@media only screen and (min-width: 769px) and (max-width: 1031px) {
  
  .card {
    height: 390px
  }
}

@media only screen and (min-width: 1032px) {

  .card {
    height: 350px;
  }

}
