header {
    width: 100%;
    text-align: center;
    padding-bottom: 45px;
}

.logo {
    width: 150px;
    height: 150px;
}

form, section, main, navigation {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

form {
    margin-bottom: 50px;
}

#map {
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
}

.card {
    margin-bottom: 50px;
    perspective: 1000px;
}

.card:hover .flipper, .card.hover .flipper {
    transform: rotateY(180deg);
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.card-logo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}

footer {
    width: 100%;
    text-align: center;
}

.credits {
    display: inline-block;
    font-size: 5px;
}
