header {
    width: 100%;
    text-align: center;
    padding-bottom: 45px;
}

.logo {
    width: 100px;
    height: 100px;
}

form, section, main, navigation {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

form {
    margin-bottom: 50px;
}

#map {
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
}

.card {
    margin-bottom: 50px;
}

.card-logo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

footer {
    width: 100%;
    text-align: center;
}

.credits {
    display: inline-block;
    font-size: 5px;
}
